/*
Classes
*/
.left_align {
    float: inherit;
}
.right_align {
    float: inherit;
}

aside {
    width: 200px;
}
/*
Divided
*/
.mobile_navigation {
    display: inherit;
    background: #D3C8B4;
}

#introduction_header {
    background: #E7E4D5;
    width: 100%;
    padding: 5px;
    border-bottom-right-radius: inherit;
}

#container {
    background: #FFF3DB;
    width:100%;
}

.navigation {
    display: none;
    height: inherit;
}

#vid_frame {
    display: none;
    padding: inherit;
}

#main {
    background: #FFF3DB;
    width: 100%;
    margin: inherit;
}

#footer {
    background: #D3C8B4;
    /*padding: 10px;*/
    border-top-right-radius: inherit;
    width: 100%;
}